@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css');

body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #fff; 
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  gap: 20px;
  z-index: 999;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #45505b;
  padding: 10px;
  margin-bottom: 8px;
  transition: width 0.3s, padding 0.3s, background 0.3s, color 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 36px;
  width: 56px;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #ddd; 
}

.menu-item i {
  font-size: 20px;
  transition: color 0.3s;
}

.menu-item span {
  display: none;
  color: #fff;
  margin-left: 10px;
}

@media (min-width: 992px) {
  .menu-item {
    width: 36px;
  }
  .menu-item span {
    display: none;
  }
}

.menu-item.active {
  background-color: #0563bb;
  color: white;
  border: 2px solid #0563bb; 
}

.menu-item:hover {
  width: 80px; 
  background: #0563bb;
  color: #fff;
  border: 1px solid #0563bb; 
}

.menu-item:hover i {
  color: #fff;
}

.menu-item:hover span {
  display: block;
}

.hero-background {
  background-image: url('/src/img/me.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-background::before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #333;
}

.hero p {
  font-size: 24px;
  font-weight: 400;
  color: #45505b;
}

#hero p span {
  color: #45505b;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

.typed-text {
  padding-top: 10000px;
  color: #0563bb;
  font-family: 'Helvetica', sans-serif;
  font-size: 26px;
  font-weight: bold;
}

.social-links {
  margin-top: 50px;
}

.social-links a {
  font-size: 24px;
  display: inline-block;
  color: black;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#section hero .social-links a:hover {
  color: #0563bb;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.section.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding-left: 300px;
  overflow: hidden;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: 0;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  padding: 30px 20px; 
}

.profile-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.profile-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.about-header-container {
  width: 100%;
  margin-bottom: 20px; 
  margin-left: 100px;
}

.profile-links{
  margin-top: 62px;
}
.about-header {
  color: #464242;
}
.custom-margin-top {
  margin-top: 30px;
}

.pro-background {
  background-image: url('/src/img/pro.jpeg');
  background-size: cover; 
  background-position: center; 
  width: 350px; 
  height: 350px; 
  margin-top:120px;
  margin-right: 35px;
  border-radius: 360px;
  margin-left: 45px;


}

.profile-row {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.info-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info-content, .profile-links {
  flex: 1; 
}
#profile {
  background-color: white;
}
.info-item {
  display: block;
  margin-bottom: 16px; 
}

.info-item b {
  display: inline-block;
  position: relative;
  padding-left: 20px; 
}

.info-item b::before {
  content: '➤'; 
  position: absolute;
  left: 0;
  color: #0d6dd3; 
}
.about-header {
  font-size: 25px;
  color: #454444;
  position: relative;
  display: inline-block;
  margin-bottom: 20px; 
  text-align: center; 
}

.about-header::after {
  content: '';
  display: block;
  width: 100%; 
  height: 3px;
  background: linear-gradient(to right, #c1bdbd 0%, #c1bdbd 33.33%, #0563bb 33.33%, #0563bb 66.66%, #c1bdbd 66.66%, #c1bdbd 100%); 
  margin-top: 8px; 
}
.parent-element {
  text-align: center; /* Ensure this is applied to the parent element */
}
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.section-title h2 {
  font-size: 25px;
  color: #454444;
  margin: 0;
  font-family: Arial, sans-serif; /* Set the desired font family */
}

.section-title::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: linear-gradient(to right, #c1bdbd 0%, #c1bdbd 33.33%, #0563bb 33.33%, #0563bb 66.66%, #c1bdbd 66.66%, #c1bdbd 100%);
  margin-top: 8px;
}



.skills .skills-content {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  margin-left: -500px; 
  
}

.skills .progress {
  margin-left: 0px;
  height: 50px;
  display: block;
  background: none;
  width: 100%;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #45505b;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dcdcdc; 
  width: 250%; 
  height: 10px;
  border-radius: 5px; 
  overflow: hidden; 
}

.skills .progress-bar {
  height: 10px;
  width: 0%; 
  transition: width .9s;
  background-color: #0563bb;
}

.section-title{
  font-size: 17px;
  margin-left: 110px;
}
.skills-content .col-lg-6 {
  margin: 0 25px;
}

.skills-content .right-column {
  margin-right: 340px; 
  width: 19%; 


}
 .skills-content .left-column{
  margin-left: 110px; 
  width: 17%; 
  }
  
  .info-item a {
    text-decoration: none;
    color: #718ee4; 
  }
  
  .info-item a:hover {
    text-decoration: underline; 
  }
  /* General styles for the resume */
.resume {
  font-family: Arial, sans-serif;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0563bb;
  position: relative;
}

.resume .resume-item.h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0563bb;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-top: -80px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
  z-index: 1;
}

.resume .resume-item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% + 20px);
  background: #0563bb;
  left: -2px;
  top: 16px;
  z-index: 0;
}

/* Hide the line for no-line class */
.resume .resume-item.no-line::after {
  display: none;
}

.resume .section {
  text-align: center;
}

/* Add the following CSS for proper layout */
@media (min-width: 992px) {
  .resume .row {
    display: flex;
    justify-content: space-between;
  }

  .resume .summary-column {
    margin-left: 15%; /* Adjust this value to move it more to the right */
  }

  .resume .col-lg-6 {
    flex: 0 0 45%;
  }
}

@media (max-width: 991px) {
  .resume .row {
    display: block;
  }

  .resume .resume-item {
    padding: 0 20px 20px 20px;
  }
}
